.projects-heading{
    position: relative;
    left: 105px;
    top: 100px;
    font-size: 50px;
    font-family: var(--font-kaisei-harunoumi);
  }

  .projects{
    position: relative;
    left: 105px;
    top: 200px;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;

  }

  .project{
    display: flex;
    flex-wrap: wrap;
  }

  .project-img{
    position: relative;
    height: 20rem;
    width: 35rem;
    border-radius:1rem;


  }

  .project-details{
    width: 40rem;
  }

.projects-section hr{
    margin-top: 1rem;
}

.project-card{
    margin:0 0 10rem 2rem  ;

}

.project-card-heading{
    font-family: var(--font-kaisei-harunoumi);
    font-size: 40px;
}

.project hr{
    position: relative;
    left:0px;
}

.sliding-img{
    height: 20rem;
    width: 35rem;
    max-height: 20rem;
    max-width: 35rem;
    overflow: hidden;
    display: flex;
    border-radius: 1rem;

}
.img-slider{
    display: flex;
    position: relative;
    animation: slider 15s ease-in-out 0s infinite;
}

@keyframes slider {
    0%{
        left:0rem;
    }   
    23%{
        left: 0rem;
    }
    25%{
        left: -35rem;
    }
    48%{
        left: -35rem;
    }
    50%{
        left:-70rem;
    }
    73%{
        left:-70rem;
    }
    75%{
        left:-105rem;
    }
    98%{
        left: -105rem;
    }
    100%{
        left: 0rem;
    }
}

.sliding-img img{
    height: 20rem;
    width: 35rem;
}
